/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */

.container{
    width: 70%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* button */

.little-button{
    padding: 5px 15px;
    border-radius: 30px;
}

.big-button{
    margin-right: 10px;
    padding: 15px 30px;
    border-radius: 30px;
}

.white-button{
    background-color: white;
    color: black;
}

.black-button{
    background-color: rgb(26, 29, 32);
    color: white;
}

.blue-button{
    background-color: rgb(124, 141, 218);
    color: white;
}

/* header logo e menu */

header{
    background-color: #3161e0;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.box-logo{
    float: left;
}

.logo{
    vertical-align: middle;
}

.box-menu-p1{
    width: calc(100% - 235px);
    float: left;
    text-align: center;
    display: inline-block;
}

.box-menu-p1 li{
    display: inline-block;
}

.box-menu-p1 a{
    padding: 15px;
    color: white;
}

a:hover{
    color: black;
}

.box-accedi{
    float: left;
}

/* prima sezione */

.sec-1{
    width: 100%;
    height: 350px;
    background-image: url('./../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
}

.central-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.central-text h2{
    color: white;
    display: inline-block;
    font-size: 48px;
    padding-bottom: 30px;
}

.central-text p{
    color: white;
    display: inline-block;
    padding-bottom: 30px;
}

.central-text .white-button{
    background-color: white;
    color: black;
    margin-right: 10px;
    padding: 15px 30px;
}

/* seconda e quarta sezione */

.sec-2-4{
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}

.sec-2-4 img{
    width: 65%;
    margin-top: 80px;
    float: left;
}

.lateral-text{
    width: 35%;
    margin-top: 130px;
    float: left;
}

.lateral-text h2 {
    color: black;
    display: inline-block;
    font-size: 42px;
    padding-bottom: 30px;
}

.lateral-text p {
    color: black;
    display: inline-block;
    padding-bottom: 30px;
}

/* terza sezione */

.sec-3{
    width: 100%;
    background-color: rgb(244, 244, 244);
    margin-bottom: 50px;
}

.sec-3 img{
    width: 65%;
    margin-top: 80px;
    float: right;
}

.lateral-text{
    width: 35%;
    margin-top: 130px;
    float: right;
}

.lateral-text h2 {
    color: black;
    display: inline-block;
    font-size: 42px;
    padding-bottom: 30px;
}

.lateral-text p {
    color: black;
    display: inline-block;
    padding-bottom: 30px;
}

/* quinta sezione */

.sec-5{
    width: 100%;
    background-color: rgb(244, 244, 244);
    text-align: center;
    margin-bottom: 50px;
}

.sec-5 h2{
    color: black;
    display: inline-block;
    font-size: 42px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sec-5 p{
    color: black;
    display: inline-block;
    padding-bottom: 30px;
}

.sec-5 img{
    width: 100%;
}

.star{
    background-image: url('./../img/stars.svg');
    width: 50%;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15px;
    vertical-align: middle;
}

.sec-5 h3{
    color: black;
    display: inline-block;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.sec-5 .blue-button{
    padding: 15px 30px;
}

/* pie di pagina con altri menu */

footer {
    width: 100%;
    height: 600px;
    background-color: #23272a;
    color: white;
}

.top-content-footer {
    padding-top: 80px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
}

.column-slogan {
    width: 30%;
    float: left;
}

.column-slogan h2 {
    color: #8ea1e1;
    font-size: 1.8rem;
}

.language {
    margin-top: 20px;
    cursor: pointer;
}

.flag {
    width: 22px;
    vertical-align: middle;
}

.language p {
    font-size: 0.8rem;
    display: inline-block;
}

.italian {
    width: 10px;
    filter: invert(1);
    vertical-align: middle;
}

.socialmedia {
    margin-top: 20px;
    filter: invert(1);
}

.socialmedia img {
    transform: scale(1.1);
    margin-right: 20px;
    cursor: pointer;
}

.col-list {
    width: 17.5%;
    float: left;
}

.col-list ul {
    list-style: none;
}

.col-list p {
    color: #8ea1e1;
    font-weight: bold;
}

.col-list li {
    padding-top: 10px;
    cursor: pointer;
}

.col-list li:hover {
    text-decoration: underline;
}

footer hr {
    width: 60%;
    margin: auto;
    border: 1px solid #8ea1e1;
}

/* logo e registrazione in basso */

.bottom-content-footer {
    width: 60%;
    padding-top: 40px;
    margin: auto;
    line-height: 150%;
}

.bottom-content-footer img, .bottom-content-footer a {
    vertical-align: middle;
    cursor: pointer;
}

.bottom-content-footer a {
    float: right;
}

.bottom-content-footer .blue-button {
    padding: 5px 10px;
}
